<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>HOME</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div align="center">
		---------------- LIST OF ENTITY ---------------- 
		<br>
		<p><a href="http://localhost:8080/jobs">Jobs Type</a></p>
		<p><a href="http://localhost:8080/users">Users</a></p>
		<p><a href="http://localhost:8080/companies">Companies</a></p>
		<p><a href="http://localhost:8080/works">Works</a></p>
		<p><a href="http://localhost:8080/friends">Friends</a></p>
		<p><a href="http://localhost:8080/uaddresses">User Addresses</a></p>
		<p><a href="http://localhost:8080/caddresses">Company Addresses</a></p>
	</div>
</body>
</html>