<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>HOME</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		-------- LIST OF ENTITY -------- 
		<br>
		<ul>
			<li><a href="http://localhost:8080/jobs">Jobs</a></li> <br>
			<li><a href="http://localhost:8080/users">Users</a></li> <br>
			<li><a href="http://localhost:8080/companies">Companies</a></li> <br>
			<li><a href="http://localhost:8080/works">Works</a></li> <br>
			<li><a href="http://localhost:8080/friends">Friends</a></li> <br>
			<li><a href="http://localhost:8080/uaddresses">User Addresses</a></li> <br>
			<li><a href="http://localhost:8080/caddresses">Company Addresses</a></li>
		</ul>
	</div>
</body>
</html>