<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> JOB DETAILS </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		JOB DETAILS: <br><br>
		
		<form action="#" th:action="@{http://localhost:8080/jobs/updatejob{id}(id = ${job.id})}" th:object="${job}" method="post">
			<table>
			<tr>
				<td> Job Id: </td>
				<td> <p th:value="${job.id}" th:text="${job.id}" /> </td>
			</tr>
			<tr>
				<td> Job Name: </td>
				<td> <Input type="text" name="updateName" th:value="${job.name}" size="10" /> </td>
			</tr>
			<tr>
				<td> Job Category: </td>
				<td> <Input type="text" name="updateCategory" th:value="${job.category}" size="10" /> </td>
			</tr>
			<tr>
				<td> Job Description: </td>
				<td> <Input type="text" name="updateDescription" th:value="${job.description}" size="10" /> </td>
			</tr>
			</table>
			<br>
			<input type="submit" value="Update job">
		</form>	
					
		<br>
		<a href="http://localhost:8080/jobs">Return to jobs list</a>
	</div>
</body>
</html>