<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>USER ADDRESSES HOME PAGE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		-------- LIST OF ALL USER ADDRESSES -------- 
		<br>
		<table border="1">
			<tr>
				<th> User Address Street Name </th>
				<th>  </th>
			</tr>
			<tr th:each="uaddress : ${uaddresses}"> 
				<td width="100" align="center"> <a th:href="@{uaddresses/{id}(id = ${uaddress.id})}" th:text="${uaddress.street}"></a> </td>
				<td width="100" align="center"> <a th:href="@{deleteuaddress{id}(id=${uaddress.id})}">Delete</a> </td>
			</tr>
		</table>
		<br>
		Click a user address to view user address details
		<br><br>
		--------- ADD A NEW USER ADDRESS ---------
		<br>
		<form action="#" th:action="@{adduaddress}" th:object="${uaddress}" method="post">
	    	<p>Street: <input type="text" name="addStreet"/></p>
	        <p>Civic Number: <input type="text" name="addCivicNumber" /></p>
	        <p>Postal Code: <input type="text" name="addPostalCode" /></p>
	        <p>Municipality: <input type="text" name="addMunicipality" /></p>
	        <p>Nation: <input type="text" name="addNation" /></p>
	        <p><input type="submit" value="Add a new user address" /> <input type="reset" value="Clean values" /></p>
	    </form>
	    <br><br>
	    --------- SEARCH A USER ADDRESS BY STREET ---------
		<br>
		<form action="#" th:action="@{searchuaddress}" th:object="${uaddress}" method="post">
	    	<p>Street: <input type="text" name="jobSearchNameStreet"/></p>
	        <p><input type="submit" value="Search user address" /></p>
	    </form>
	    <br><br>
	    <a href="http://localhost:8080">Return to entities list</a>
	</div>
</body>
</html>