<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>USER ADDRESS DETAILS</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div align="center">
		<h3>USER ADDRESS DETAILS:</h3>
		<form action="#"
			th:action="@{http://localhost:8080/uaddresses/updateuaddress{id}(id = ${uaddress.id})}"
			th:object="${uaddress}" method="post">
			<table>
				<tr>
					<td>
						<p>User Address Id:</p>
					</td>
					<td>
						<p th:value="${uaddress.id}" th:text="${uaddress.id}" />
					</td>
				</tr>
				<tr>
					<td>
						<p>User Address Street:</p>
					</td>
					<td><Input type="text" name="updateStreet"
						th:value="${uaddress.street}" /></td>
				</tr>
				<tr>
					<td>
						<p>User Address Civic Number:</p>
					</td>
					<td><Input type="text" name="updateCivicNumber"
						th:value="${uaddress.civicNumber}" /></td>
				</tr>
				<tr>
					<td>
						<p>User Address Postal Code:</p>
					</td>
					<td><Input type="text" name="updatePostalCode"
						th:value="${uaddress.postalCode}" /></td>
				</tr>
				<tr>
					<td>
						<p>User Address Municipality:</p>
					</td>
					<td><Input type="text" name="updateMunicipality"
						th:value="${uaddress.municipality}" /></td>
				</tr>
				<tr>
					<td>
						<p>User Address Nation:</p>
					</td>
					<td><Input type="text" name="updateNation"
						th:value="${uaddress.nation}" /></td>
				</tr>
			</table>
			<br> <input type="submit" value="Update user address">
		</form>
		<br> <br> <a href="http://localhost:8080/uaddresses">Return
			to user addresses list</a>
	</div>
</body>
</html>